.container {
	padding: 0 16px 64px 16px;
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-template-areas:
		'header header'
		'sidebar content';
}

.header {
	padding: 8px 16px;
	grid-area: header;
}

.logo {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.sidebar {
	position: relative;
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

