.list-item {
	display: flex;
	align-items: center;
	padding: 6px 0;
}

.text {
	flex: 1;
	border: 0;
	border-bottom: 1px solid #000;
	padding: 6px;
}

.button {
	align-self: flex-end;
}

.check, .text {
	margin-right: 10px;
}

.done {
	text-decoration: line-through;
}